<div class="edit-container">
  <div class="banner-new"
    style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @treehouse.photo.key %>')"
  >
    <div class="new-container">
      <div class="caption">
        <h1>Hi there,<br> edit your treehouse <br> </h1>
        <p>Don't forget to save your changes</p>
      </div>
      <div class="simple-form">
        <%= simple_form_for(@treehouse) do |f| %>
          <%= f.input :name %>
          <%= f.input :address %>
          <%= f.input :price_per_night %>
          <%= f.input :description %>
          <%= f.input :photo, as: :file %>
          <%= f.submit %>
          <%= button_to "Delete", treehouse_path(@treehouse), class: "btn btn-cancel",method: :delete%>
        <% end %>
      </div>
    </div>
  </div>
</div>
