<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>Treehouses in your region</h1>
    </div>
  </div>

  <div class="treehouses-flex-container">
    <div class="treehouses-cards">
      <% @search_treehouses.each do |treehouse| %>
        <%= link_to treehouse_path(treehouse) do %>
          <div class="treehouse-card">
            <div
            class="treehouse-card-image"
            style= "background-image:url(
              <%= treehouse.photo.attached? ? cl_image_path(treehouse.photo.key) : asset_path('default_treehouse.jpg')%>)">
            </div>

            <div class="treehouse-card-content">
              <div class="treehouse-card-title">
                <h4><%= treehouse.name %></h4>
              </div>
              <p><%= treehouse.address %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="treehouses-map"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

</div>

<%#
<div class="container">
	<div class="item-0"></div>
	<div class="item-1"></div>
</div> %>
