<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1425913397330-cf8af2ff40a1?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674)">
<h1>Create a treehouse</h1>
  <div class="simple-form">
    <div class="item-0">
      <%= simple_form_for(@treehouse) do |f| %>
        <%= f.input :name %>
        <%= f.input :address %>
        <%= f.input :price_per_night %>
        <%= f.input :description %>
        <%= f.input :photo, as: :file %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
