<div
  class="map"
  style= "background-image:url(
   <%= @treehouse.photo.attached? ? cl_image_path(@treehouse.photo.key) : asset_path('default_treehouse.jpg')%>)">
</div>

<div class="container">
  <div class="row">
    <div class="col-8 mt-3">
      <div class="treehouse-show-card">
        <h1><%= @treehouse.name %></h1>
        <p><%= @treehouse.address %></p>
      </div>
      <div class="treehouse-show-card mt-3">
        <h3>Description</h3>
        <p><%= @treehouse.description %></p>
      </div>
    </div>
    <div class="col-4 mt-3">
      <div class="treehouse-show-card">
        <div class="treehouse-show-card-booking-form">
          <div class="book-now text-start"><h1>Book now</h1></div>
          <div class="price-per-night"><span>$<%= @treehouse.price_per_night %>/night</span></div>
        </div>
        <%= simple_form_for([@treehouse, @booking]) do |f| %>
          <%= f.input :check_in %>
          <%= f.input :check_out %>
          <%= f.input :number_of_guests %>
          <%= f.submit "Reserve" %>
        <% end %>
        <% if current_user == @treehouse.user %>
          <li><%= link_to "Edit", edit_treehouse_path(@treehouse)%></li>
        <% end  %>
      </div>
    </div>


        <div class="col-4 mt-3">
      <div class="treehouse-show-card">
        <div class="treehouse-show-card-booking-form">
          <div class="book-now text-start"><h1>Rate this Treehouse now</h1></div>
          <div class="price-per-night"><span>$<%= @treehouse.name %></span></div>
        </div>
        <%= simple_form_for([@treehouse, @review]) do |f| %>
          <%= f.input :comment %>
          <%= f.input :rating %>
          <%= f.submit "rate it" %>
        <% end %>
        <% @reviews.each do |review| %>
        <%= review.comment %>

        <%end %>

      </div>
    </div>
  </div>
</div>
