<div
  class="map"
  style= "background-image:url(
   <%= @treehouse.photo.attached? ? cl_image_path(@treehouse.photo.key) : asset_path('default_treehouse.jpg')%>)">
</div>

<div class="container">
  <div class="row">
    <div class="col-8 mt-3">
      <div class="treehouse-show-card">
        <h1><%= @treehouse.name %></h1>
        <p><%= @treehouse.address %></p>
        <% if current_user == @treehouse.user %>
          <%= link_to "Edit", edit_treehouse_path(@treehouse), class: "btn-approve"%>
        <% end  %>
      </div>
      <div class="treehouse-show-card mt-3">
        <h3>Description</h3>
        <p><%= @treehouse.description %></p>
      </div>
    </div>
      <div class="col-4 mt-3">
      <div class="treehouse-show-card">
        <div class="treehouse-show-card-booking-form">
          <div class="book-now text-start"><h1>Book now</h1></div>
          <div class="price-per-night"><span>$<%= @treehouse.price_per_night %>/night</span></div>
        </div>
        <%= simple_form_for([@treehouse, @booking]) do |f| %>
          <%= f.input :check_in, as: :date, html5: true  %>
          <%= f.input :check_out, as: :date, html5: true  %>
          <%= f.input :number_of_guests %>
          <%= f.submit "Reserve" %>
        <% end %>
      </div>
      <br>
    </div>
  <div class="col-8 mt-3">
    <div class="treehouse-show-card mt-3">
      <h4>Last Review</h4>
      <% if @reviews.last.nil? %>
      <p>No reviews yet !</p>
      <% else %>
      <%=  @reviews.last.comment%>
      <%= link_to "All Reviews", treehouse_reviews_path(@treehouse), class: "btn-approve" %>
      <% end %>
    </div>
   </div>
  </div>
</div>
