
<div class="container">
  <div class="row">
    <div class="trips-and-bookings mt-3 mb-3">
      <div class="col-6">
        <h1>Your upcoming trips</h1>
        <% @user_bookings.each do |booking| %>
          <%= link_to treehouse_path(booking.treehouse), class: "link" do %>
            <div class="booking">
              <strong><p>Treehouse: <%= booking.treehouse.name %></p></strong>
              <p>Check-in date: <%= booking.check_in %></p>
              <p>Check-out date: <%= booking.check_out %></p>
              <p>Number of guests: <%= booking.number_of_guests %></p>
              <p>Price per night: $<%= booking.treehouse.price_per_night %>/night</p>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="col-6">
        <h1>Your treehouse</h1>
        <div class="treehouse">
        <% @user_treehouses.each do |treehouse| %>
        <%= treehouse.name %>
        <div class="booking">
          <% treehouse.bookings.each do |booking| %>

            <p>Booked by: <%= booking.user.first_name %> <%= booking.user.last_name %></p>
            <p>Check-in date: <%= booking.check_in %></p>
            <p>Check-out date: <%= booking.check_out %></p>
            <p>Number of guests: <%= booking.number_of_guests %></p>
            <p>Status: <%= booking.status %></p>
            <% if booking.pending? %>
              <%= link_to "Approve", approve_status_path(booking)%>
              <%= link_to "Reject", reject_status_path(booking)%>
            <% elsif booking.approved?  %>
              <%= link_to "Reject", reject_status_path(booking)%>
            <% else %>
              <%= link_to "Approve", approve_status_path(booking)%>
            <% end %>
          <% end %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
