<!DOCTYPE html>
<html>
  <head>
    <title>Treehouses</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <%# mapbox %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>

  </head>

  <body>
    <%= render "shared/navbar" %>
    <div class="main-container">
      <%= yield %>
    </div>
    <%# <p class="notice"><%= notice %>
    <%# <p class="alert"><%= alert %>
    <%# <%= render "shared/flashes" %>
    <%= render "shared/footer" %>
    <% if cookies[:allow_cookies].blank? %>
      <%= render 'shared/cookies_bar' %>
    <% end %>
  </body>
</html>
